/* VARS */
:root {
    --primary-color: #fc8835;
    --white: #fff;
    --black: #000;
    --black-2: #111111;
    --grey: #ebebeb;
    --grey-2: #c4c4c4;
    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-2: 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* nav */
.header-top {
    padding: 8px 10px;
}

.header-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

.right-side-panel .panel-icon a,
.right-side-panel .panel-icon.web-search-trigger,
.right-side-panel .panel-icon.mobile-menu-icon {
    color: var(--black);
    font-size: 1.3em;
}

.right-side-panel .panel-icon.web-search-trigger,
.right-side-panel .panel-icon.mobile-menu-icon {
    cursor: pointer;
}

.right-side-panel .panel-icon a:hover,
.right-side-panel .panel-icon.web-search-trigger:hover,
.right-side-panel .panel-icon.mobile-menu-icon:hover {
    color: var(--primary-color);
}

/* .right-side-panel .panel-icon.web-search-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.right-side-panel .panel-icon {
    display: none;
}

.right-side-panel .panel-icon.mobile-menu-icon {
    display: block;
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo img {
    height: 60px;
    width: 250px;
}

.site-logo h3 {
    margin-top: 10px;
    color: var(--black-2);
    /* text-transform: uppercase; */
}

.user-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.user-panel .up-item:first-child {
    margin: 0;
}

.shopping-card span {
    background: var(--primary-color);
}

.slicknav_menu {
    display: none;
}

.web-screen-search-section {
    display: none;
}

.mobile-screen-nav-section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: var(--white);
    box-sizing: border-box;
}

.mobile-screen-nav-area {
    display: flex;
    height: 100%;
    width: 100%;
}

.nav-left-panel {
    flex: 0.1;
    display: flex;
    flex-direction: column;
    background: var(--grey);
    padding: 20px;
}

.nav-left-panel .close-btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-left-panel .close-btn-area .close-mobile-menu-tirgger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
}

.left-panel-items {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 20px;
    margin: 20px 0;
}

.panel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.panel-item:hover {
    background: var(--white);
}

.panel-item:hover a {
    color: var(--primary-color);
}

.panel-item a {
    color: var(--black);
    font-size: 1.3em;
}
.nav-right-panel {
    flex: 0.9;
    padding: 20px;
}

.right-panel-search-area {
    display: flex;
}

.right-panel-search-area input {
    flex: 0.9;
    padding: 8px 10px;
    border: 1px solid var(--grey);
}

.right-panel-search-area button {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    background: var(--grey);
    border: none;
    cursor: pointer;
}

.nav-other-items {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-right-panel-menu-items {
    margin: 10px 0;
    height: 85%;
}

.nav-right-panel-menu-items ul {
    list-style: none;
}

.panel-menu-item {
    margin: 20px 0;
    color: var(--black);
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
}

.panel-menu-item a {
    color: var(--black);
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.panel-menu-item:hover,
.panel-menu-item a:hover {
    color: var(--primary-color);
}

.shop-drop {
    display: none;
    margin-top: -10px;
    margin-left: 20px;
}

.shop-drop .shop-drop-item a {
    color: var(--black);
    text-transform: uppercase;
    font-size: 0.9em;
}

.nav-right-panel-social-icons {
    display: flex;
    height: 15%;
    padding: 10px 0;
    border-top: 1px solid var(--grey);
}

.panel-social-icon a {
    font-size: 1.7em;
    font-weight: bold;
    color: var(--black);
    transition: all 0.5s ease;
}

.panel-social-icon a:hover {
    color: var(--primary-color);
}

.panel-social-icon:nth-child(2) {
    margin: 0 10px;
}

.main-navbar {
    background: #000;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu li:hover > a {
    color: var(--primary-color);
}

.main-menu li.active a {
    color: var(--primary-color);
}

.main-menu .sub-menu li a:hover {
    color: var(--primary-color);
}

/* home page */
.hero-slider .hs-item .offer-card {
    background: #115ae6;
}

.hero-slider .hs-item .offer-card:after {
    border: 1px solid var(--primary-color);
}

.feature:nth-child(2) {
    background: #f83535;
}

.feature .feature-inner {
    padding: 10px 15px;
}

.feature .feature-icon {
    margin-right: 10px;
    height: 30px;
    width: 30px;
}

.feature h2 {
    font-size: 1em;
}

.product-item .tag-sale {
    background: var(--primary-color);
}

.site-btn {
    background: #fc3535;
}

.footer-widget ul li a:after {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.w-latest-post-widget .lp-content .readmore {
    background: var(--primary-color);
}

.contact-widget .con-info span {
    color: var(--primary-color);
}

.fw-latest-post-widget .lp-content .readmore {
    color: var(--primary-color);
}

.product-filter-menu {
    display: flex;
}

.product-filter-menu .control-btn {
    color: var(--black-2);
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 31px;
    cursor: pointer;
}

.product-filter-menu .control-btn.active {
    background: #fc3535;
    color: var(--white);
}

/* .fw-latest-post-widget .lp-content .readmore {
    background: var(--primary-color);
} */

.about-section {
    margin-top: 50px;
}

.about-section-img {
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.about-section-text-area {
    margin: 20px;
}

.product-item {
    cursor: pointer;
}

/* product details page */
.product-details .p-stock span {
    color: var(--primary-color);
}

.product-details .p-rating i {
    color: var(--primary-color);
}

.product-details .fw-size-choose input[type="radio"]:checked + label {
    border: 2px solid var(--primary-color);
}

.fw-size-choose input[type="radio"]:checked + label {
    background: var(--primary-color);
}

.product-thumbs .pt.active:after {
    border: 2px solid var(--primary-color);
}

/* Gallery */
.gallery-area {
    /* padding: 40px 0; */
    margin: 50px 0;
    transition: all 0.2s cubic-bezier(0.34, 1.12, 0.68, 1.31);
}
.gallery-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.gallery-controls .control-btn {
    height: 40px;
    width: 140px;
    background: var(--white);
    color: var(--black-2);
    font-size: 1em;
    line-height: 40px;
    cursor: pointer;
    margin: 20px;
    box-shadow: var(--box-shadow-2);
    text-align: center;
    border-radius: 50px;
}

.control-btn.active {
    background: var(--primary-color);
    color: var(--white);
}

.gallery .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gallery .image-container .image {
    height: 300px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.gallery .image-container .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease;
}

.gallery .image-container .image:hover img {
    transform: scale(1.4);
}

/* checkout page */
.promo-code-form button {
    color: var(--primary-color);
}

.cart-table .total-cost {
    background: var(--primary-color);
}

.checkout-form input[type="email"] {
    width: 100%;
    height: 44px;
    border: none;
    padding: 0 18px;
    background: #f0f0f0;
    border-radius: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}

@media (max-width: 449px) {
    .gallery .image-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 767px) {
    .site-logo-area {
        margin-left: 20px;
        overflow: hidden;
    }

    .site-logo {
        margin-bottom: 0;
    }

    .site-logo img {
        height: 60px;
        width: 250px;
    }

    .site-logo h3 {
        font-size: 1.2em;
    }

    .main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-menu li a {
        margin-right: 20px;
        font-size: 0.9em;
    }

    .about-section-img-area {
        padding: 30px;
    }
}

@media (min-width: 900px) {
    .right-side-panel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .right-side-panel .panel-icon {
        display: block;
    }

    .right-side-panel .panel-icon.mobile-menu-icon {
        display: none;
    }

    .gallery .image-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .web-screen-search-section {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        background-color: rgba(255, 255, 255, 0.5);
        overflow: hidden;
    }

    .web-screen-search-area {
        display: flex;
        justify-content: center;
        background: var(--white);
    }

    .web-screen-search {
        width: 70%;
        background: var(--white);
        height: 250px;
    }

    .web-screen-search .close-btn-area {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 30px 0;
    }

    .web-screen-search .close-btn-area span {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background: var(--grey);
        border-radius: 50%;
        cursor: pointer;
    }

    .web-screen-search .search-area {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 30px;
    }

    .web-screen-search .search-area input {
        width: 95%;
        padding: 10px;
        border: 1px solid var(--grey);
    }

    .web-screen-search .search-area button {
        width: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--grey);
        min-height: 100%;
        padding: 15px 10px;
        margin: 30px 0;
        border: none;
        cursor: pointer;
    }
}

/* @media (min-width: 1000px) {

} */

@media (min-width: 1200px) {
    .right-side-panel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .about-section-text-area {
        position: relative;
        top: 150px;
        left: -80px;
        height: 300px;
        padding: 20px;
        box-shadow: var(--box-shadow);
        background: var(--white);
        z-index: 100;
        margin: 0;
    }

    .gallery .image-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
